@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

html {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
    font-family: "Dongle", sans-serif;
    font-size: 24px;
}
button {
    border-radius: 10px;
    background-color: #96ff65;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #000000;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}
