@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import "tailwindcss";

html {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
    font-family: "Dongle", sans-serif;
    font-size: 24px;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}
